@import '../../App.scss';

.btn {
	text-transform: uppercase;
	color: white;
	display: inline-block;
	border: none;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	cursor: pointer;
}

$buttonColors: 'primary' $color-primary, 'secondary' $color-secondary,
	'success' $color-success, 'info' $color-info, 'error' $color-error;

@each $color in $buttonColors {
	.#{nth($color, 1)} {
		background-color: desaturate(nth($color, 2), 40);
		&:hover {
			background-color: desaturate(nth($color, 2), 30);
		}
	}
}
