@import '../../App.scss';

.btn {
	text-transform: uppercase;
	color: white;
	border: none;
	width: 100%;
	height: 20px;
	// margin: 10px;
	cursor: pointer;
}

$buttonColors: 'primary' $color-primary, 'secondary' $color-secondary,
	'success' $color-success, 'info' $color-info, 'error' $color-error;

@each $color in $buttonColors {
	.#{nth($color, 1)} {
		background-color: nth($color, 2);
		&:hover {
			background-color: lighten(nth($color, 2), 10);
		}
	}
}
$buttonMargins: 'm-1' 2px, 'm-2' 4px, 'm-3' 6px, 'm-4' 8px, 'm-5' 10px;
@each $margin in $buttonMargins {
	.#{nth($margin, 1)} {
		margin: nth($margin, 2) 0;
	}
}
