@import '../../App.scss';

.container {
	z-index: 100; // temporary
	position: fixed;
	width: $dim-nav-width;
	height: $dim-nav-height;
	left: 0;
	top: 0;
	background-color: $color-grey-20;
	color: white;
	padding: $dim-root-margins;

	.links {
		background-color: $color-grey-30;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: calc(#{$dim-sidebar-width} - #{$dim-root-margins});
			height: calc(#{$dim-nav-height} - 2 * #{$dim-root-margins});
			background-color: $color-grey-30;
			&:hover {
				cursor: pointer;
			}
		}
		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			position: absolute;
			left: calc(#{$dim-sidebar-width} + 2 * #{$dim-root-margins});
			width: calc(#{$dim-main-width} - 4 * #{$dim-root-margins});
			height: calc(#{$dim-nav-height} - 2 * #{$dim-root-margins});
			background-color: $color-grey-50;
			li {
				margin: 0 5px;
				&:hover {
					border-bottom: solid white 1px;
					cursor: pointer;
				}
			}
		}
	}
}
