@import '../../App.scss';

.container {
	// visibility: hidden;
	position: fixed;
	width: $dim-sidebar-width;
	height: calc(#{$dim-main-height} - #{$dim-root-margins});
	left: $dim-root-margins;
	top: $dim-nav-height;
	background-color: $color-grey-50;

	box-sizing: border-box;
	padding: 3px;
	ul {
		li {
			color: $color-grey-50;
			padding: 5px 20px;
			text-align: right;
			background: $color-grey-10;
			margin-bottom: 3px;
			list-style: none;
			&:hover {
				background: $color-grey-20;
				color: $color-grey-5;
				cursor: pointer;
			}
		}
	}

	overflow-y: scroll; // or 'auto'
	overflow-x: hidden; // or 'auto'
	&::-webkit-scrollbar {
		width: $dim-root-margins;
		background-color: $color-grey-20;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color-grey-50;
	}
}
