@import '../../App.scss';

.container {
	position: fixed;
	width: calc(#{$dim-main-width} - 3 * #{$dim-root-margins});
	height: calc(#{$dim-main-height} - #{$dim-root-margins});
	left: calc(#{$dim-sidebar-width} + 2 * #{$dim-root-margins});
	top: $dim-nav-height;
	background-color: $color-grey-30;
	padding: 3px 20px;
	box-sizing: border-box;
	p {
		text-align: justify;
		font-size: 1.5em;
	}

	overflow-y: scroll; // or 'auto'
	overflow-x: hidden; // or 'auto'

	&::-webkit-scrollbar {
		width: $dim-root-margins;
		background-color: $color-grey-20;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color-grey-50;
	}
}



