@import '../../App.scss';

.container {
	position: fixed;
	width: calc(#{$dim-main-width} - 3 * #{$dim-root-margins});
	height: calc(#{$dim-main-height} - #{$dim-root-margins});
	left: calc(#{$dim-sidebar-width} + 2 * #{$dim-root-margins});
	top: $dim-nav-height;
	background-color: $color-grey-30;
	padding: 3px 20px;
	box-sizing: border-box;
	overflow-y: scroll; // or 'auto'
	overflow-x: hidden; // or 'auto'

	&::-webkit-scrollbar {
		width: $dim-root-margins;
		background-color: $color-grey-20;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color-grey-50;
	}

	article {
		background-color: red;
		margin-bottom: 25px;
		padding: 10px;
		border-radius: 5px;
		section {
			background-color: $color-grey-30;
			padding: 10px;
			h1 {
				margin: -10px -10px 0px -10px;
				padding: 10px;
				text-transform: uppercase;
				font-weight: bold;
				text-align: center;
				margin-bottom: 10px;
			}
		}
	}
}
